<div class="mt-5">
	<form action="/users/changePassword" method="POST">
		<div class="form-group">
			<input type="password" class="form-control" name="currentPassword" placeholder="Enter your current password" autofocus />
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="newPassword" placeholder="Enter new password" />
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="newPassword2" placeholder="Confirm password" />
		</div>
		<a type="button" href="/users/dashboard" class="btn btn-secondary">Cancel</a>
		<button type="submit" class="btn btn-primary">Change Password</button>
	</form>
</div>
