<div class="container">
	<div class="container col-5 mt-5 px-4 pt-5 pb-1" style="box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6)">
		<h3 class="text-center mb-5">LOGIN FORM</h3>
		<form action="/login" method="POST" id="form">
			<div class="form-group">
				<input type="email" class="form-control form-control-lg" name="email" placeholder="Email" autofocus />
			</div>
			<div class="form-group">
				<input type="password" class="form-control form-control-lg" name="password" placeholder="Password" />
			</div>
			<button id="btn" type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
			<p class="text-center mt-3">Don't Have an account? <a href="/signup">Signup</a></p>
		</form>
	</div>
</div>
